body {
  margin:0;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(247, 149, 221) 100%);
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.teste {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65vh;
}
cor {
    background-color: rgb(255, 255, 255);
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cab {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
    max-width: 100%;
    align-content: center;
}

.menu {
  background-color: transparent;
  width: 43.3%;
  margin-top: 2.05vh;
  position: absolute;
  display: flex;
  height: 22.5vh;
  justify-content: space-around;
  margin-right: 10%;
  flex-wrap: wrap;
  align-content: center;
}.menu button {
  background-color: red;
  border-style: none;
  height: 75%;
  width: 12.5%;
}.menu button:hover {
  cursor: pointer;
}.menu p1 {
  font-family: Arial, Helvetica, sans-serif;
  font: bolder;
  font-size: 2vh;
  display: block;
  transform: rotate(270deg);
}.info-menu {
  display: flex;
  background-color: #ffffff;
  border-style: none;
  height: 75%;
  width: 12.5%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}


#paleta-menu {
  max-height: 40vh;
  min-height: auto;
  max-width: 58.3%;
}

.logo {
  position: relative;
  display: flex;
  height: 25vh;
  justify-content: space-around;
}#img-logo {
  max-width: 80%;
  width: auto;
}

.waves {
  margin-top: 1vh;
  position:relative;
  width: 100%;
  height:35vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height: 30vh;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  mix-blend-mode: multiply;
}.wave-white > use {
  mix-blend-mode: normal;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 7s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 14s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 25s;
}

.menu button:nth-child(2) {
  background-color: #f5c63c;
}.menu button:nth-child(2):hover {
  background-color: #9e8129;
}
.menu button:nth-child(4) {
  background-color: #f47f6b;
}.menu button:nth-child(4):hover {
  background-color: #924d40;
}
.menu button:nth-child(6) {
  background-color: #bb5098;
}.menu button:nth-child(6):hover {
  background-color: #702f5a;
}
.menu button:nth-child(8) {
  background-color: #7a5197;
}.menu button:nth-child(8):hover {
  background-color: #452e55;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media only screen and (max-width: 600px) {
  .waves {
    height:30vh;
  }
  .cab {
    margin-top: 5.4vh;
    transform: rotate(90deg);
  }

  .menu p1 {
    font-size: 1.3vh;
  }
  #img-logo {
    margin-top: 8vh;
    max-height: 20vh;
  }
}
