body {
  margin:0;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(247, 149, 221) 100%);
  background-color: white;
  height: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.teste {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65vh;
}
cor {
    background-color: rgb(255, 255, 255);
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cab {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%;
    max-width: 100%;
    /* flex-wrap: wrap; */
  align-content: center;
}

.van-g {
  position: absolute;
  width: 100%;
  opacity: .8;
  mix-blend-mode:saturation;
}

.menu {
  background-color: transparent;
  width: 43.3%;
  margin-top: 1%;
  position: absolute;
  display: flex;
  height: 22.5vh;
  justify-content: space-around;
  margin-right: 10%;
  flex-wrap: wrap;
  align-content: center;
}.menu button {
  background-color: red;
  border-style: none;
  height: 75%;
  width: 13.5%;
}.menu button:hover {
  cursor: pointer;
  background-color: green;
}

#paleta-menu {
  max-height: 40vh;
  min-height: auto;
  max-width: 58.3%;
}

.logo {
  position: relative;
  display: flex;
  height: 25vh;
  justify-content: space-around;
}

.waves {
  position:relative;
  width: 100%;
  height:35vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height: 30vh;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  mix-blend-mode: multiply;
}.wave-white > use {
  mix-blend-mode: normal;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 7s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 14s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 25s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
